.container-fluid {
    position: relative;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 2px red solid;
}
.image2 {
  position: absolute;
  top: 20px;
  left: 25px;
  border: 2px rgb(221, 56, 14);
}
